@* Web page of the catalog of all electric cars from the "CarShowroomDB" *@
@using DealershipManagementSystem

@{
	Layout = "_Layout";
	ElectricCarsFromDB.GetElectricCars();
	string imagePath = "";
	string carModelLink = "";
}
<div class="cars">
	@{
		for (int i = 0; i < ElectricCarsFromDB.ElectricCarsList.Count; i++)
		{
			imagePath = $"~/images/{ElectricCarsFromDB.ElectricCarsList[i].Model}/Car In Catalog.png";
			carModelLink = "https://localhost:44350/CarShowroom/ElectricCarInfo/" +
			ElectricCarsFromDB.ElectricCarsList[i].Model.Replace(" ", "%20");

			<div class="car">
				<a href=@carModelLink>
					<img src="@Url.Content(imagePath)" />
					<h2>@ElectricCarsFromDB.ElectricCarsList[i].Model</h2>
				</a>
				<div class="brief-characteristics">
					<div class="brief-characteristic-value">
						<h3>Useable Battery</h3>
						<h3>@ElectricCarsFromDB.ElectricCarsList[i].UseableCapacity</h3>
					</div>
					<div class="brief-characteristic-value">
						<h3>Electric Range</h3>
						<h3>@ElectricCarsFromDB.ElectricCarsList[i].ElectricRange</h3>
					</div>
					<div class="brief-characteristic-value">
						<h3>Total Power</h3>
						<h3>@ElectricCarsFromDB.ElectricCarsList[i].TotalPower</h3>
					</div>
					<div class="brief-characteristic-value">
						<h3>Price</h3>
						<h3>@ElectricCarsFromDB.ElectricCarsList[i].Price</h3>
					</div>
					<div class="brief-characteristic-value">
						<h3>Car Status</h3>
						<h3>@ElectricCarsFromDB.ElectricCarsList[i].CarStatus</h3>
					</div>
				</div>
			</div>
		}
	}
</div>
